---
import Layout from '../layouts/Layout.astro';
import { XataClient } from "../xata";
const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });
const records = await xata.db.Contact.getMany();
---

<Layout title="Admin">
    {records.map((record) => (
        <div>
            <p class="text-white">{record.firstName}</p>
            <p class="text-white">{record.lastName}</p>
            <p class="text-white">{record.email}</p>
            <p class="text-white">{record.message}</p>
        </div>
    ))}
</Layout>
