<section id="about" class="flex flex-col items-center scroll-mt-24">
    <!--h2 class="mt-5 text-teal text-2xl">About</h2-->
    <p class="mt-5 text-lg text-white opacity-80">I am  a Junior in the College of Engineering at the <span class="text-red">University of Wisconsin - Madison</span>, and am working towards a BS in Computer Engineering and Computer Science. This summer I am working as a Software Engineering Associate at <span class="text-blue">Heartland Business Systems</span>.</p>
    <p class="mt-5 text-lg text-white opacity-80">Some fun facts about me are that I have bowled a perfect 300 game, and I am a very active disc golfer. When I am not working with cool technologies, I am probably having fun doing these activities or spending time with my family.</p>
    <p class="mt-5 text-lg text-white opacity-80">About section continued....</p>
</section>