<section id="about" class="flex flex-col items-center pb-12 px-3 scroll-mt-24">
    <div class="sticky flex z-50 bg-background/75 backdrop-blur justify-center top-0 lg:hidden w-screen">
        <h2 class="my-5 text-white text-2xl">About</h2>
    </div>
    <p class="text-lg text-white opacity-80">I am  a Junior in the College of Engineering at the <span class="text-red">University of Wisconsin - Madison</span>, pursuing a BS in Computer Engineering and Computer Science. This summer I am working as a Software Engineering Associate at <span class="text-blue">Heartland Business Systems</span>, where I get to dive into new technologies and collaborate with a great team.</p>
    <p class="mt-5 text-lg text-white opacity-80">Some fun facts about me are that I have bowled a perfect 300 game, and I am a very active disc golfer. When I am not immersed in my work, I am probably having fun doing these activities or spending time with my family.</p>
    <p class="mt-5 text-lg text-white opacity-80">Beyond these hobbies, I love the never-ending journey of programming. There is always something new to discover, explore, and conquer, and I take them all as opportunities to grow.</p>
</section>