---
import About from "./About.astro";
import Experience from "./Experience.astro";
import Projects from "./Projects.astro";
import Contact from "./Contact.tsx";
---

<main class="lg:w-1/2 lg:py-24 lg:animate-fade-in">
    <About />
    <Experience />
    <Projects />
    <Contact client:visible/>
</main>