<section id="contact" class="flex flex-col items-center">
    <h2 class="mt-5 text-teal text-2xl">Contact</h2>
    <div class="top-row">
        <input type="text" placeholder="First Name"/>
        <input type="text" placeholder="Last Name"/>
    </div>
    <input type="text" placeholder="Email"/>
    <textarea placeholder="Message" rows="6"></textarea>
    <input type="submit" />
</section>

<style>
    input {
        background-color: #212C3F;
        color: #E0E7FF;
        border: none;
        border-radius: 15px;
        height: 70px;
        font-size: 1.5rem;
        margin: 8px;
        padding-left: 0.8rem;
    }

    textarea {
        background-color: #212C3F;
        color: #E0E7FF;
        border: none;
        border-radius: 15px;
        font-size: 1.5rem;
        margin: 8px;
        padding: 0.8rem;
    }

    .contact-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        margin-top: 20px;
    }

    .top-row {
        display: flex;
        align-items: center;
    }

</style>