<section id="contact" class="flex flex-col items-center mb-80 scroll-mt-24">
    <h2 class="mt-5 text-teal text-2xl">Contact</h2>
    <form action="/" method="post" id="message" class="flex flex-col items-center px-4 mt-5 w-full">
        <div class="flex justify-between w-full gap-3">
            <input type="text" placeholder="First Name" class="bg-light-blue text-white rounded-2xl w-full h-16 pl-3"/>
            <input type="text" placeholder="Last Name" class="bg-light-blue text-white rounded-2xl w-full h-16 pl-3"/>
        </div>
        <input type="text" placeholder="Email" class="bg-light-blue text-white rounded-2xl w-full h-16 pl-3 mt-3"/>
        <textarea placeholder="Message" rows="8" class="bg-light-blue text-white rounded-2xl w-full pl-3 pt-3 mt-3 resize-none"></textarea>
        <input type="submit" value="Send" class="bg-pink-400 opacity-80 text-white rounded-2xl w-1/2 h-16 mt-3 text-3xl cursor-pointer"/>
    </form>
</section>