---
import Nav from './Nav.tsx'
import Socials from './Socials.astro';

export interface Props {
	name: string;
	title: string;
}

const { name, title } = Astro.props;
---

<header class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24">
        <div>
            <div>
                <h1 class="text-white font-bold text-7xl">{name}</h1>
                <h3 class="text-white font-bold text-3xl mt-4">{title}</h3>
            </div>
            <Nav client:load/>
        </div>
        <Socials />
</header>