---
export interface Props {
    icon: string;
    link: string;
}

const { icon, link } = Astro.props;
---

<li class="mr-4">
    <a href={link} target="_blank">
        <svg class="opacity-50 fill-white hover:opacity-80" xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24">
            <path d={icon}/>
        </svg>
    </a>
</li>